/* OTHER SIZE */

@media screen and (max-width: 490px) {
	/* HEADER */
		.b-header {
			padding:30px 23px 0;
		}
	
		.b-header__social {
			width:60px;
			float:right;
			text-align:center;
			margin-top:-10px;
		}
		
		.b-header__social .b-item {
			display:inline-block;
			margin-left:0;
			margin-bottom:10px;
		}
	/* --END-- HEADER */
	
	/* FIRST PAGE */
		.b-first-page__title {
			font-size:18px;
			top:40%;
		}

		.b-first-page__title .b-large {
			font-size:45px;
			margin-bottom:0;
		}
		
		.b-first-page__alert {
			width:100%;
			padding:0 25px;
			font-size:18px;
			color:#2d2d2d;
			font-weight:bold;
			text-align:center;
			line-height:100%;
			position:absolute;
			bottom:5%;
		}
		
		.b-first-page__alert-inner {
			background:#FFF;
			padding:20px 30px;
		}
	/* --END-- FIRST PAGE */
}

@media screen and (max-width: 375px) {
	/* HEADER */
		.b-header__social img {
			width:60%;
		}
	/* --END-- HEADER */
	
	/* FIRST PAGE */
		.b-first-page__title {
			font-size:13px;
			top:30%;
		}

		.b-first-page__title .b-large {
			font-size:32px;
			margin-bottom:0;
		}
		
		.b-first-page__alert {
			font-size:15px;
		}
	/* --END-- FIRST PAGE */

	/* ARTICLES */
		.b-article__text {
			padding-left:18px;
		}
		
		.b-article__title {
			font-size:18px;
			margin-bottom:20px;
			
		}
	/* --END-- ARTICLES */
}

@media screen and (max-width: 320px) {	
	/* SECTIONS */
		.b-section {
			padding:20px 21px 0;
			font-size:9px;
		}
		
		.b-section__title {
			font-size:15px;
		}
		
		.b-section__desc {
			padding:0;
		}
		
		.b-section__desc .b-button {
			font-size:9px;
			border-width:1px;
		}
	/* --END-- SECTIONS */
	
	/* ARTICLES */
		.b-article {
			margin:0 -21px;
			padding:12px 21px 12px;
		}
		
		.b-article__title {
			font-size:10px;
			margin-bottom:10px;
		}
	/* --END-- ARTICLES */
	
	/* DETAIL ARTICLE */
		.b-detail-article__header .b-title h1 {
			font-size:20px;
		}
		
		.b-detail-article__body {
			font-size:10px;
		}
		
		.b-detail-article__body h2 {
			font-size:10px;
		}
		
		.b-detail-article__body h3 {
			font-size:10px;
		}
		
		.b-detail-article__body .b-button {
			font-size:9px;
			border-width:1px;
		}
	/* --END-- DETAIL ARTICLE */
}

@media screen and (max-height: 450px) and (max-width:800px) {
	/* HEADER */
		.b-first-page__title {
			top:50%;
			font-size:18px;
		}
		
		.b-first-page__title .b-large {
			font-size:35px;
			margin-bottom:0;
		}
	/* --END-- HEADER */
	
	/* FIRST PAGE */
		.b-first-page__alert {
			font-size:14px;
		}
		
		.b-first-page__alert-inner {
			padding:15px;
		}
	/* --END-- FIRST PAGE */
}